body {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(20, 20, 20);
    font-family: Tahoma, sans-serif;
    background-image: url("imgs/sfondoCodenames.webp");
    background-size: cover;
}

h1 {
    color: white;
    margin: 30px auto;
    font-size: 50px;
    background-image: url("imgs/codenamesText.webp");
    width: 500px;
    height: 150px;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#navicons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
}

.navIcon {
    aspect-ratio: 1/1;
    width: 50px;
    margin: 5px;
    border: solid 4px #ab977f;
    border-radius: 10px;
    background-color: #e7d6c4;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

#fullscreenBtn {
    background-image: url("imgs/frecce.svg");
}

#refreshBtn {
    background-image: url("imgs/refresh.svg");
}

#infoBtn {
    background-image: url("imgs/info.svg");
    background-size: 10%;

}

.row {
    margin: 0 auto;
    width: 1080px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 21.75px;
    color: black;
    background-image: url("imgs/rect17.svg");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, .5) 0 5px 5px;
}

.cardCover {
    background-color: goldenrod;
    position: absolute;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    z-index: 10;
    display: none;
    background-size: cover;
}

a {
    color:white;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}



.blue {
    background-color: rgb(0, 0, 100);
}

.red {
    background-color: rgb(100, 0, 0);
}

.green {
    background-color: rgb(0, 100, 0);
}

.black {
    background-color: black
}