body {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(20, 20, 20);
    font-family: Tahoma, sans-serif;
}

h1 {
    color: white;
    margin: 75px;
    font-size: 50px;
}

.row {
    margin: 0 auto;
    width: 1080px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;

}
.card {
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 22.5px;
    color: black;
}

.blue {
    background-color: rgb(0, 0, 100);
}

.red {
    background-color: rgb(100, 0, 0);
}

.green {
    background-color: rgb(0, 100, 0);
}

.black {
    background-color: black;
}