#title {
    margin: 30px auto;
    width: 750px;
    height: 150px;
    background-image: url("imgs/codenamesText.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: drop-shadow(black 0 5px 10px) 
}

.menuBtn {
    color: white;
    width: 350px;
    height: 100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e7d6c4;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 100%;
    /* border: solid 4px white; */
    border-radius: 100px;
    transition: all 0.5s ease;
    font-weight: bold;
    font-size: 45px;
    line-height: 100px;
    text-shadow: rgb(0, 0, 0) 1px 1px 20px;
    box-shadow: black 0 5px 10px;
}

#boardBtn {
    margin-top: 150px;
    background-image: url("imgs/dudes.png")
}

#masterBtn {
    background-image: url("imgs/masters.png")
}

.menuBtn:hover {
    scale: 1.05;
    background-size: 130%;
    cursor: pointer;
}